* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.head-side-box {
  height: 250px;
  width: 500px;
  background-color: #333;
  opacity: 60%;
  color: #fff !important;
  text-align: center;
  padding: 12px 24px;
  border-radius: 12px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 1.2%;
}

.head-side-box:hover {
  background-color: rgb(11, 11, 41);
  color: #fff !important;
}

.heading {
  font-size: 24px;
  align-self: center;
  margin: 15px 15px;
}

.head-text {
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.head-icon {
  width: 100%;
  height: 50px;
  font-size: 22px;
  background-color: #4caf50;
  border: none;
  padding: 5px;
}

.head-icon:hover {
  background-color: #999;
  border: none;
  cursor: pointer;
  color: #fff;
}

.head-icon-text {
  padding: 15px 15px;
  font-size: 22px;
  font-weight: 600;
}

/*
/////////////////////////////
/  Slider start styling
///////////////////////////////
*/

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  transition: 2s ease;
}

.slide-1 {
  background-image: url(img/img/app.jpg);
}
.slide-2 {
  background-image: url(img/img/app2.jpg);
}
.slide-3 {
  background-image: url(img/img/app4.jpg);
}

.slide {
  width: 33.33%;
  height: 100%;
  float: left;
  /* width: 100%; */
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.4s linear;
  overflow: hidden;
  position: relative;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider .slide label {
  /* display: flex;*/
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 60px;
}

.slider .arrow:hover {
  color: #000;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff;
}

.slider .arrow label {
  display: none;
}

.slider .arrow-left {
  left: 3%;
}

.slider .arrow-right {
  right: 3%;
}

.slider input:nth-child(1):checked ~ .slides {
  left: 0;
}

.slider input:nth-child(2):checked ~ .slides {
  left: -100%;
}

.slider input:nth-child(3):checked ~ .slides {
  left: -200%;
}

.slider input:nth-child(1):checked ~ .arrow label:nth-child(1),
.slider input:nth-child(2):checked ~ .arrow label:nth-child(2),
.slider input:nth-child(3):checked ~ .arrow label:nth-child(3) {
  display: block;
}

/* 
/////////////////////////////
Container-1 start styling
///////////////////////////////
*/

.container-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 40px;
  padding: 50px;
}

.heading-1 {
  font-size: 70px;
}

.heading-2 {
  font-size: 56px;
  color: #4caf50;
}

.paragraph-1 {
  font-size: 22px;
}

.paragraph-1 span {
  font-size: 36px;
}

.container-1-btn {
  margin-top: 50px;
  font-size: 24px;
  padding: 12px 32px;
  background-color: #ecf0f1;
  color: #333;
  border: none;
}

.container-1-btn:hover {
  background-color: #95a5a6;
  cursor: pointer;
}

.container-1-app {
  margin-top: 30px;
  font-size: 24px;
}

.container-1-app.fa-android {
  color: #4caf50 !important;
}

.container-1-app.fa-apple {
  color: #000 !important;
}

.container-1-app.fa-window {
  color: rgb(79, 79, 185);
}

/* Container -1 End Styling */

/* Container-2 Styling */

.container-2 {
  display: flex;
  flex-direction: row;
  background-color: #ecf0f1;
  gap: 70px;
  margin-top: 40px;
  padding: 50px;
}

.container-2-left img {
  border-radius: 12px;
}

.paragraph-1 {
  margin-top: 36px;
  font-size: 22px;
}

.container-2-heading-2 {
  margin-top: 36px;
  font-size: 48px;
  color: red;
}
/* Container 2 end */

/* Container 3 styling */

.container-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  padding-bottom: 50px;
  background-color: #616161 !important;
}

.feature {
  font-size: 56px;
  margin-top: 48px;
}

.feature-text {
  font-size: 22px;
}

.feature-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fast {
  font-size: 48px;
  color: #ff9800 !important;
}

.span {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 36px;
  width: 25%;
  color: #ecf0f1;
  font-size: 24px;
}

.loved {
  font-size: 48px;
  color: #e74c3c !important;
}

.camera {
  font-size: 48px;
  color: #f1c40f !important;
}
.power {
  font-size: 48px;
  color: #2ecc71 !important;
}

.sharp {
  font-size: 48px;
  color: #fff !important;
}
.cloud {
  font-size: 48px;
  color: rgb(79, 79, 236) !important;
}
.global {
  font-size: 48px;
  color: #f1c40f !important;
}
.storage {
  font-size: 48px;
  color: rgb(45, 45, 82) !important;
}

.safe {
  font-size: 48px;
  color: #fff !important;
}
.stabile {
  font-size: 48px;
  color: yellowgreen !important;
}
.wifi {
  font-size: 48px;
  color: #777 !important;
}
.HD {
  font-size: 48px;
  color: rgb(202, 32, 61) !important;
}

/* container-3 end styling*/

/* container-4 styling */

.container-4 {
  width: 100%;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

.price-title {
  font-size: 64px;
  margin-bottom: 50px;
}

.price-text {
  font-size: 24px;
  margin-bottom: 25px;
}

.pricing-plan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.prices {
  font-size: 44px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  color: #616161;
  text-align: center;
}

.btn {
  padding: 22px 44px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 22px;
  border: none;
}

.btn:hover {
  background-color: #000;
  color: #ecf0f1;
  cursor: pointer;
}

/* Basic Plan Style */
.basic-plan {
  width: 49%;
  padding: 8px 16px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.basic-plan h3 {
  font-size: 32px;
  padding: 22px 44px;
  background-color: #777;
}

.basic-plan p {
  padding: 25px 75px;
  font-size: 24px;
}

/* Premium Plan Style */
.premium-plan {
  width: 49%;
  padding: 8px 16px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.premium-plan p {
  padding: 25px 75px;
  font-size: 24px;
}

.premium-plan h3 {
  font-size: 32px;
  padding: 22px 44px;
  background-color: #e74c3c;
  /* border: 1px solid #333; */
}

/* Footer Styling */

footer {
  text-align: center;
  background-color: #616161;
  padding: 75px 125px;
}

.social-icon {
  font-size: 22px;
  gap: 20px;
}

.logo {
  font-size: 24px;
  gap: 12px;
}

.logo:hover {
  color: #ecf0f1;
  cursor: pointer;
}

.footer-paragraph {
  font-size: 22px;
  margin-top: 16px;
}
